* {
    box-sizing: border-box;
}

header {
    text-align: center;
    background-image: url("images/Home.jpg");
    height:100vh;
    padding:1em;
    color: #FFF;
    background-size: cover;
    display:flex;
    flex-direction: column;
    /* margin-bottom: 5%; */
}

.MainTitle {
    font-size: 4rem;
    color: #0F9;
    text-transform: uppercase;
    letter-spacing: 15px;
    outline: 3px solid #FFF;
    outline-offset: 0.25em;
    display: inline-block;
    margin: 0.25em 0 0.5em;
    margin-top: 80px;
}
body {
    background:#444;
}

h1.intro {
    text-decoration: gray underline;
    color:rgb(27, 170, 134);
    font-size: 50px;
    letter-spacing: 10px;
    border:2px solid rgb(208, 255, 0);
    padding:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

section.intro {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-justify: distribute;
    margin-bottom: 10em;
}
p.intro {
    color:rgba(255, 208, 0, 0.671);
    border:3px solid rgb(0, 255, 234);
    padding:30px;
    font-size:30px;
    max-width:60vw;
    margin: auto;
}
h1.navbar {
    margin-left:20%;
    margin-right:20%;
    text-decoration: gray underline;
    color:#1baa86;
    font-size: 30px;
    letter-spacing: 5px;
    border:2px solid rgb(208, 255, 0);
    padding:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-bottom: 400px;
}
li {
    margin:20px;
    list-style:none;
}

a {
    font-size:30px;
    color:#EEE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline wavy #555 2px;
    font-size: 50px;
    color:rgb(207, 228, 22);
}
#name {
    position:absolute;
    font-size:2em;
    letter-spacing: 10px;
    word-spacing: 0px;
    top:20%;
    left:3%;
    text-shadow: 0 0 15px red;
    color:#CCC;
    justify-self: ;
}